.search {
    background-color: rgb(112, 108, 108);
    padding: 2rem;
    margin: auto 4rem;
    min-height: 80vh;
}

#repository {
    width: 30%;
    margin: 0;
    padding: 0.1rem;
    height: 2rem;
    border: none;
    height: 1rem;
    border-radius: none;
}


#btn {
    background-color: wheat;
    min-width: 10%;
    transition: 0.3s;
    border: 0.5px solid black;
    cursor: pointer;
}

#btn:hover {
    background-color: black;
    color: white;
}

#btn:focus {
    border-color: orange;
}

.qtd {
    margin: 1rem 1rem 0 1rem;
}

.dados {
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    text-align: left;
}

.dados h2, p , img{
    margin: 0.5rem;
    min-width: 15px;
}

.repository_img > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.repository_img > a > img {
    background-color: white;
    border-radius: 20px;
    margin: 0;
    margin-right: 1rem;
    padding: 0.1rem;
    min-width: 15px;
}

.description {
    width: 100%;
    max-height: 7rem;
    overflow-y: auto;
    display: flexbox;
    align-items: center;
    word-wrap: break-word;
}

.container_star {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.container_star > img {
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 500px) {
    /* * {
        font-size: xx-small;
    } */
    .search {
        padding: 1rem 0 0 0;
        margin: 0;
    }
    .dados {
        margin: 0.5rem;
    }
    
}